
.login {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
	background-color: #2f353a;
}
.form-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 300px;
	padding:20px;
	border-radius: 10px;
	box-shadow: 0px 0px 12px 1px blue;
	
}
.logo {
	width: 150px;
	margin-bottom: 48px;
	justify-self: center;
	display: none;
}
.title {
	font-size: 12px;
	margin-bottom: 12px;
	text-align: center;
}
.subtitle {
	color: white;
	font-size: var(--md);
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 32px;
	text-align: center;
}
.form {
	display: flex;
	flex-direction: column;
}
.label {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 4px;
}
.input {
	background-color: white;
	border: none;
	border-radius: 8px;
	height: 30px;
	font-size: var(--md);
	padding: 6px;
	margin-bottom: 12px;
}
.primary-button {
	background-color: rgb(43, 93, 169);
	border-radius: 8px;
	border: none;
	color: white;
	width: 100%;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 50px;
}
.login-button {
	margin-top: 14px;
	margin-bottom: 30px;
}
@media (max-width: 640px) {
	.logo {
		display: block;
	}
}
